Pipelines/pl_ingest_data/pipeline/pl_ingest_data.json
{
    "name": "pl_ingest_data",
    "properties": {
        "activities": [
            {
                "name": "Get File Metadata",
                "type": "GetMetadata",
                "dependsOn": [
                    {
                        "activity": "Check If File Exists",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "ds_sales_blob_csv",
                        "type": "DatasetReference"
                    },
                    "fieldList": [
                        "columnCount",
                        "size",
                        "exists"
                    ],
                    "storeSettings": {
                        "type": "AzureBlobStorageReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    },
                    "formatSettings": {
                        "type": "DelimitedTextReadSettings"
                    }
                }
            },
            {
                "name": "If Column Count Matches",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "Get File Metadata",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@equals(activity('Get File Metadata').output.columnCount, 38)",
                        "type": "Expression"
                    },
                    "ifFalseActivities": [
                        {
                            "name": "Send Email",
                            "type": "WebActivity",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "method": "POST",
                                "url": "https://file_incompatible",
                                "body": "dummy"
                            }
                        }
                    ],
                    "ifTrueActivities": [
                        {
                            "name": "Copy data from blob to sqldb",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "DelimitedTextSource",
                                    "storeSettings": {
                                        "type": "AzureBlobStorageReadSettings",
                                        "recursive": true,
                                        "enablePartitionDiscovery": false
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextReadSettings"
                                    }
                                },
                                "sink": {
                                    "type": "AzureSqlSink",
                                    "writeBehavior": "insert",
                                    "sqlWriterUseTableLock": false
                                },
                                "enableStaging": false,
                                "translator": {
                                    "type": "TabularTranslator",
                                    "mappings": [
                                        {
                                            "source": {
                                                "name": "Row ID",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "row_id",
                                                "type": "Int32",
                                                "physicalType": "int"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "Order ID",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "order_id",
                                                "type": "String",
                                                "physicalType": "varchar"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "Order Date",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "order_date",
                                                "type": "DateTime",
                                                "physicalType": "datetime"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "Ship Date",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "ship_date",
                                                "type": "DateTime",
                                                "physicalType": "datetime"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "Ship Mode",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "ship_mode",
                                                "type": "String",
                                                "physicalType": "varchar"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "Customer ID",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "customer_id",
                                                "type": "String",
                                                "physicalType": "varchar"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "Customer Name",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "customer_name",
                                                "type": "String",
                                                "physicalType": "varchar"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "Customer Gender",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "customer_gender",
                                                "type": "String",
                                                "physicalType": "varchar"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "Customer Age",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "customer_age",
                                                "type": "Int32",
                                                "physicalType": "int"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "Customer Loyalty Tier",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "customer_loyalty_tier",
                                                "type": "String",
                                                "physicalType": "varchar"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "CLV",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "clv",
                                                "type": "Decimal",
                                                "physicalType": "decimal",
                                                "scale": 2,
                                                "precision": 10
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "Segment",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "segment",
                                                "type": "String",
                                                "physicalType": "varchar"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "Country",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "country",
                                                "type": "String",
                                                "physicalType": "varchar"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "City",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "city",
                                                "type": "String",
                                                "physicalType": "varchar"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "State",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "state",
                                                "type": "String",
                                                "physicalType": "varchar"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "Postal Code",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "postal_code",
                                                "type": "String",
                                                "physicalType": "varchar"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "Latitude",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "latitude",
                                                "type": "Decimal",
                                                "physicalType": "decimal",
                                                "scale": 6,
                                                "precision": 10
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "Longitude",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "longitude",
                                                "type": "Decimal",
                                                "physicalType": "decimal",
                                                "scale": 6,
                                                "precision": 10
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "Region",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "region",
                                                "type": "String",
                                                "physicalType": "varchar"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "Product ID",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "product_id",
                                                "type": "String",
                                                "physicalType": "varchar"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "Category",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "category",
                                                "type": "String",
                                                "physicalType": "varchar"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "Sub-Category",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "sub_category",
                                                "type": "String",
                                                "physicalType": "varchar"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "Product Name",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "product_name",
                                                "type": "String",
                                                "physicalType": "varchar"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "Sales",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "sales",
                                                "type": "Decimal",
                                                "physicalType": "decimal",
                                                "scale": 2,
                                                "precision": 10
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "Cost",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "cost",
                                                "type": "Decimal",
                                                "physicalType": "decimal",
                                                "scale": 2,
                                                "precision": 10
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "Profit",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "profit",
                                                "type": "Decimal",
                                                "physicalType": "decimal",
                                                "scale": 2,
                                                "precision": 10
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "Quantity",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "quantity",
                                                "type": "Int32",
                                                "physicalType": "int"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "Discount",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "discount",
                                                "type": "Decimal",
                                                "physicalType": "decimal",
                                                "scale": 2,
                                                "precision": 3
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "Manufacturer",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "manufacturer",
                                                "type": "String",
                                                "physicalType": "varchar"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "Payment Method",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "payment_method",
                                                "type": "String",
                                                "physicalType": "varchar"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "Order Priority",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "order_priority",
                                                "type": "String",
                                                "physicalType": "varchar"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "Return Status",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "return_status",
                                                "type": "Boolean",
                                                "physicalType": "bit"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "Return Reason",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "return_reason",
                                                "type": "String",
                                                "physicalType": "varchar"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "Shipping Cost",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "shipping_cost",
                                                "type": "Decimal",
                                                "physicalType": "decimal",
                                                "scale": 2,
                                                "precision": 10
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "Carrier",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "carrier",
                                                "type": "String",
                                                "physicalType": "varchar"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "Customer Since",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "customer_since",
                                                "type": "DateTime",
                                                "physicalType": "date"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "Create Date",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "create_date",
                                                "type": "DateTime",
                                                "physicalType": "datetime"
                                            }
                                        },
                                        {
                                            "source": {
                                                "name": "Modification Date",
                                                "type": "String",
                                                "physicalType": "String"
                                            },
                                            "sink": {
                                                "name": "modification_date",
                                                "type": "DateTime",
                                                "physicalType": "datetime"
                                            }
                                        }
                                    ],
                                    "typeConversion": true,
                                    "typeConversionSettings": {
                                        "allowDataTruncation": true,
                                        "treatBooleanAsNumber": false
                                    }
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "ds_sales_blob_csv",
                                    "type": "DatasetReference"
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "ds_sales_sqldb_table",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "table_name": "sales_src"
                                    }
                                }
                            ]
                        }
                    ]
                }
            },
            {
                "name": "Check If File Exists",
                "type": "Validation",
                "dependsOn": [],
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "ds_sales_blob_csv",
                        "type": "DatasetReference"
                    },
                    "timeout": "0.12:00:00",
                    "sleep": 10
                }
            }
        ],
        "annotations": [],
        "lastPublishTime": "2025-02-01T11:03:20Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}